*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    header {
        height: 100vh;
        position: relative;
        background: url("./imagens/contatoheader.jpg");
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    nav{
        display: flex;
    align-items:center;
    padding-left:20px;
     padding-top: 15px
}

nav img {
    width: 100px;
}

.class_logo{
    overflow :none;
        width: auto;
        margin: 5px;
}

li { 
    font-family: 'Segoe UI', sans-serif;
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
}
    
li a {
color: aliceblue;
text-decoration: none;
font-size: 1.3em;
padding-left: 1.4em;
padding-right: 1em;
padding-top: 0.5em;
padding-bottom: 0.5em;
border-radius: 26px;
font-weight: 600;
}
 a:hover {
    transition: color 0.3s;
    text-decoration: underline; 
    color: #fe7467;
    }

    .contato-link {
 text-decoration:underline crimson;
 text-underline-offset:0.4em;
 align-self: center;
margin: 30px;
 border-bottom:3px solid #fff;
 padding-bottom:5px;
        } 

.fale_conosco{
width: 500PX;
 position: relative;
margin-left: 150PX;
margin-top: 200PX;
        }

.entre_contato{
height: 700px;
width: 100%;
gap: 100px;
        }

 .texto_contato{
 display: flex;
flex-direction:column;
margin-bottom: 30px;
  }
  p{
    align-self: center;
    width: 450px;
    text-align: center;
  }
  .contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  input{
    width: 300px;
    border-radius:5px;
    color:  #837a7a;
    margin:5px ;
    padding:15px 5px ;
    border:1px solid;
    background-color: #c4b9b9;

  }
  .informacoes{
    display:grid;
    align-self:start;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: end;


  }

  textarea{
    width: 300px;
    border-radius:5px;
    color:  #837a7a;
    margin:5px ;
    width: 312px; height: 160px;
    background-color: #c4b9b9;
    border:1px solid;
    align-self: end;
grid-column-start: 2;
grid-column-end: 3;

  }
  .enviar{
    background-color: red;
    color: white;
    padding:10px;
    border-radius:10px;
    font-weight: 900;
border: 0;
font-size: 20px;
width: 640px;
justify-self: center;
  }
  .botao_enviar{
    display: grid;
    width: 100%;
    margin-top:10px ;
  }
        


